<div *ngIf="userDetails.length && !error.status">
    <div>
        <b>Total albums of {{selectedUser}}: {{userDetails.length}}</b>
    </div><br>
    <div class="d-flex">
        <div class="btn card text-center" *ngFor="let details of displayList" style="width: 18rem;"
            routerLink="/detail/{{details.userId}}/albums/{{details.id}}/photos">
            <div class="card-body">
                <h5 class="card-title">{{details.title}}</h5>
            </div>
        </div>
    </div>
    <br>
    <br>
    <div class="btn btn-secondary" (click)="goBack()">
        go back
    </div>&nbsp;&nbsp;&nbsp;
    <div class="btn btn-info" routerLink="/detail/{{userId}}/albums/new-album">
        create new album
    </div>
    <app-paginator [list]="userDetails" (_onPageChange)="onPageChange($event)"></app-paginator>
</div>
<app-http-error *ngIf="error.status" [error]="error"></app-http-error>